/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */
a {
    text-decoration: none;
    color: config('colors.blue');
}

.tag {
    color: config('colors.white');
    border-radius: 999px;
    background-color: config('colors.blue');
    padding: 2px 4px;
    margin-bottom: config('margin.1');
    margin-right: config('margin.1');
    font-size: config('textSizes.xs');
    display: block;
    &:hover {
        background-color: config('colors.blue-dark');
    }
}
.card {
    background: white;
    box-shadow: config('shadows.default');
    border-radius: config('borderRadius.default');
}
.pagination {
    list-style-type: none;
    display: flex;
}
.pagination-item {
    &:first-child .pagination-link {
        border-left: 1px solid config('colors.grey-light');
        border-top-left-radius: config('borderRadius.default');
        border-bottom-left-radius: config('borderRadius.default');
    }
    &:last-child .pagination-link {
        border-top-right-radius: config('borderRadius.default');
        border-bottom-right-radius: config('borderRadius.default');
    }
}
.router-link-active {
    background: config('colors.grey-lighter');
}

.pagination-link {
    border-top: 1px solid config('colors.grey');
    border-bottom: 1px solid config('colors.grey');
    border-right: 1px solid config('colors.grey');
    display: block;
    color: config('colors.grey-darker');
    padding: config('padding.2') config('padding.3') config('padding.2') config('padding.3');
    &:hover {
        background: config('colors.grey-lightest');
    }
    &.pagination-link--disabled {
        &:hover {
            background: white;
        }
    }
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.btn {
    outline: none;
    &:focus {
        outline: none;
    }
    padding: config('padding.2') config('padding.3') config('padding.2') config('padding.3');
    border-radius: config('borderRadius.default');
}
.btn-default {
    border: 1px solid config('colors.grey-dark');
    color: config('colors.grey-darkest');
    &:hover {
        border-color: config('colors.black');
    }
}
.btn-primary {
     color: white;
     background: config('colors.blue');
     &:hover {
         background: config('colors.blue-dark');
     }
}
.btn-danger {
    color: white;
    background: config('colors.red');
    &:hover {
        background: config('colors.red-dark');
    }
}
.vocabulary-list li:nth-child(2n) {
    background: config('colors.grey-lightest');
}
.feather-loader {
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.input {
    display: block;
    width: 100%;
    background: config('colors.grey-lighter');
    border-radius: config('borderRadius.default');
    padding: config('padding.2') config('padding.1') config('padding.2') config('padding.1');
    border: 1px solid transparent;
    outline: none;
    &:focus {
        outline: none;
        border-color: config('colors.blue');
    }
}

@import './components/multiselect.scss';
@import './components/toasted.scss';

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.w-600 {
    width: 600px;
    max-width: 100vw;
}
