.toasted.sparclex {
    padding: config('padding.2') config('padding.3') config('padding.2') config('padding.3');
    border-radius: config('borderRadius.default');
    &.success {
        background: config('colors.green');
        color: config('colors.white');
    }
}
