<template>
    <div>
        <button class="btn btn-primary shadow" @click="showModal">Create Entry</button>
        <modal v-if="showCreateModal" :isDanger="false" @close="showCreateModal = false" @confirm="createEntry">
            <h3 class="px-4 pt-4 font-normal">Create Entry</h3>
            <form class="py-6 px-4 text-grey-darker flex-1 items-center">
                <label for="swahili_word" class="block mb-2 text-grey-darker">Swahili</label>
                <div class="w-full mb-3">
                    <input type="text" id="swahili_word"
                           class="input"
                           ref="input"
                            v-model="form.swahili">
                </div>
                <label for="english_word" class="block mb-2 text-grey-darker">English</label>
                <div class="w-full mb-3">
                    <input type="text" id="english_word"
                           class="input"
                            v-model="form.english">
                </div>
                <label for="tags" class="block mb-2 text-grey-darker">Tags</label>
                <div>
                    <multiselect :options="availableTags" id="tags" :taggable="true" v-model="form.tags" @tag="addTag"
                                 :multiple="true" placeholder="Enter Tags" ref="multiselect" :closeOnSelect="false"></multiselect>
                </div>
            </form>
        </modal>
    </div>
</template>
<script>
    import { Form } from 'vform'
    export default {
        data() {
            return {
                showCreateModal: false,
                availableTags: [],
                form: new Form({
                    swahili: '',
                    english: '',
                    tags: [],
                })
            }
        },
        mounted() {
            axios.get('/api/tags').then(({data}) => this.availableTags = data);
        },
        methods: {
            showModal() {
                this.showCreateModal = true;
                this.$nextTick(() => {
                    this.$refs.input.focus();
                });
            },
            createEntry() {
                this.form.post('/api/entries').then(({data}) => {
                    this.$toasted.success(data.message);
                    this.showCreateModal = false;
                    this.$emit('created');
                });
            },
            addTag(tag) {
                this.availableTags.push(tag);
                this.form.tags.push(tag);
            }
        }
    }
</script>
