<template>
    <transition name="fade">
        <modal @close="$emit('close')" @confirm="handleEdit" :is-danger="false">
            <h3 class="px-4 pt-4 font-normal">Edit Entry</h3>
            <form class="py-6 px-4 text-grey-darker flex-1 items-center">
                <label for="swahili_word" class="block mb-2 text-grey-darker">Swahili</label>
                <div class="w-full mb-3">
                    <input type="text" id="swahili_word"
                           class="input"
                           ref="input"
                           v-model="form.swahili">
                </div>
                <label for="english_word" class="block mb-2 text-grey-darker">English</label>
                <div class="w-full mb-3">
                    <input type="text" id="english_word"
                           class="input"
                           v-model="form.english">
                </div>
                <label for="tags" class="block mb-2 text-grey-darker">Tags</label>
                <div>
                    <multiselect :options="availableTags" id="tags" :taggable="true" v-model="form.tags" @tag="addTag"
                                 :multiple="true" placeholder="Enter Tags" ref="multiselect" :closeOnSelect="false"></multiselect>
                </div>
            </form>
        </modal>
    </transition>
</template>
<script>
    import {Form} from "vform";

    export default {
        props: ['entry'],
        data() {
            return {
                availableTags: [],
                form: new Form({
                    swahili: this.entry.swahili,
                    english: this.entry.english,
                    tags: this.entry.tags,
                })
            }
        },
        mounted() {
            axios.get('/api/tags').then(({data}) => this.availableTags = data);
        },
        methods: {
            handleEdit() {
                this.form.put('/api/entries/'+this.entry.id).then(({data}) => {
                    this.$toasted.success(data.message);
                    this.$emit('updated');
                });

            },
            addTag(tag) {
                this.availableTags.push(tag);
                this.form.tags.push(tag);
            }
        }
    }
</script>
