<template>
    <li>
        <p class="md:w-auto md:flex-1 w-full flex items-center md:mr-2 mb-2 md:mb-0">{{entry.swahili}}</p>
        <p class="md:w-auto md:flex-1 w-full flex items-center md:mr-2 mb-2 md:mb-0 text-grey-darker md:text-black">{{entry.english}}</p>
        <div class="flex items-center flex-wrap w-full md:w-auto">
            <a href="#" @click.prevent="showEditModal = true" class="text-grey-dark hover:text-blue inline mr-3 ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path>
                    <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                </svg>
            </a>
            <a href="#" @click.prevent="showConfirmDeleteModal = true" class="text-grey-dark hover:text-blue inline">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path
                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
            </a>
        </div>
        <transition name="fade">
            <modal v-if="showConfirmDeleteModal" @close="showConfirmDeleteModal = false" @confirm="handleDeletion"></modal>
        </transition>
        <edit-modal v-if="showEditModal" :entry="entry" @close="showEditModal = false" @updated="handleUpdated"></edit-modal>
    </li>
</template>
<script>
    export default {
        props: ['entry'],
        data() {
            return {
                showConfirmDeleteModal: false,
                showEditModal: false,
            }
        },
        methods: {
            handleDeletion() {
                axios.delete(`/api/entries/${this.entry.id}`).then(({data}) => {
                    this.showConfirmDeleteModal = false;
                    this.$toasted.success(data.message);
                    this.$emit('deleted')
                });
            },
            handleUpdated() {
                this.showEditModal = false;
                this.$emit('updated');
            }
        }
    }
</script>
