<template>
    <div class="p-3 border-b-2 border-grey-light flex">
        <div class="ml-auto relative">
            <button class="block text-grey-dark bg-grey-lighter hover:bg-grey-light p-2 rounded focus:outline-none"
                    @click="showFilters = true">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-filter">
                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                </svg>
                <span class="text-grey-darker">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </span>
            </button>
            <div class="w-64 absolute z-50 shadow-md" style="top: 3rem; right: 0">
                <div class="flex">
                    <svg width="46px" height="23px" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 44 22"
                         class="ml-auto">
                        <defs>
                            <path id="a" d="M0 0h44v22H0z"></path>
                            <path id="c" d="M2 22L22 2l20 20z"></path>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <mask id="b" fill="#fff">
                                <use xlink:href="#a"></use>
                            </mask>
                            <g mask="url(#b)">
                                <use fill="#F6F8FB" xlink:href="#c"></use>
                                <path stroke="#CCD4DB" d="M.793 22.5L22 1.293 43.207 22.5H.793z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="bg-white">
                    <label class="block p-3 text-grey-darker">Per Page</label>
                    <div class="px-3 pb-3">
                        <input type="text" class="input">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                showFilter: true
            }
        }
    }
</script>
