<template>
    <div>
        <div class="flex mb-2 content-between items-center flex-wrap">
            <div class="bg-white rounded px-3 py-2 shadow flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" class="text-grey-dark mr-2" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <input type="search" class="outline-none text-grey-darkest" @keyup="updateEntries" v-model="searchQuery">
            </div>
            <create class="ml-auto w-full sm:w-auto mt-2 sm:mt-0" @created="updateEntries"></create>
        </div>
        <div class="card">
            <ul class="w-full list-reset vocabulary-list">
                <li is="entry" class="flex flex-wrap p-3" v-for="entry in entries" :entry="entry"
                    @deleted="updateEntries" @updated="updateEntries" v-if="entries.length"></li>
                <li class="p-3" v-else>No entries for the given query</li>
            </ul>
            <div class="p-3 border-t-2 border-grey-light flex">
                <ol class="pagination ml-auto">
                    <li class="pagination-item" v-for="n in lastPage">
                        <router-link class="pagination-link" :to="{name: 'index'}" v-if="n == 1" exact="">1</router-link>
                        <router-link class="pagination-link" :to="{name: 'page', params: {page: n}}" v-else>{{n}}
                        </router-link>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                loading: true,
                entries: [],
                lastPage: 1,
                searchQuery: ''
            }
        },
        mounted() {
            this.updateEntries();
        },
        methods: {
            updateEntries() {
                return axios.get('/api/entries', {params: {page: this.page, query: this.searchQuery}}).then(({data}) => {
                    this.entries = data.data;
                    this.lastPage = data.last_page;
                    if(this.lastPage < this.page) {
                        if(this.lastPage === 1) {
                            this.$router.push({'name': 'index'})
                        } else {
                            this.$router.push({'name': 'page', params: {page: this.lastPage, query: this.searchQuery}})
                        }

                    }
                });
            }
        },
        watch: {
            page() {
                this.updateEntries();
            }
        },
        computed: {
            page() {
                return this.$route.params.page || 1;
            }
        }
    }
</script>
