<template>
    <portal to="modal">
        <div class="modal-wrapper" @click="$emit('close')">
            <div class="modal" @click.stop>
                <div class="card h-screen w-600 md:h-auto flex flex-col overflow-x-auto">
                    <slot>
                        <h3 class="px-4 pt-4 font-normal">Delete Entry</h3>
                        <p class="py-6 px-4 text-grey-darker flex-1 flex items-center">
                            Are you sure you want to delete this entry?
                        </p>
                    </slot>
                    <div class="bg-grey-lighter p-4 text-right">
                        <button class="btn btn-default" @click.prevent="$emit('close')">Cancel</button>
                        <button class="btn" :class="{'btn-danger': isDanger, 'btn-primary': !isDanger}" @click.prevent="$emit('confirm')">Confirm</button>
                    </div>

                </div>
            </div>
        </div>
    </portal>
</template>
<script>
    export default {
        props: {
            isDanger: {
                default: true,
                type: Boolean
            }
        }
    }
</script>
